<h1>Take a gander at our goods!</h1><br>

<div class="jumbotron">
  <% if @products.any? %>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product)%></li>
      <% end %>
    </ul>
  <% else %>
    <p>We're out of products</p>
  <% end %>
</div>  

